<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <div class="Cart"><img src="https://cdn-icons-png.flaticon.com/512/3144/3144456.png"></div>
        </div>
    </div>
</nav>
<div *ngIf="isLoading" class="loading">
    Loading product details...
</div>

<div *ngIf="errorMessage" class="error">
    {{ errorMessage }}
</div>

<div *ngIf="product" class="details-wrapper" [ngClass]="'product-' + product.id">
    <div *ngIf="product" class="product-details">

        <div class="image-section">
            <div class="Image_1">
                <img [src]="product?.imageUrl" alt="{{ product?.name }}">
            </div>
            <img [src]="product?.image_1" alt="{{ product?.name }}">
            <img [src]="product?.image_2" alt="{{ product?.name }}">
        </div>

        <div class="info-section">
            <h2>{{ product.name }}</h2>
            <p class="price">₹ {{ product.price }}</p>
            <p class="description">{{ product.description }}</p>

            <button (click)="addToCart(product)">Add to Cart</button>


        </div>
    </div>
</div>