.Navbar {
    background: lightcyan;
}

.User {
    display: flex;
}

.User img {
    height: 10vh;
    width: 8vh;
    object-fit: contain;
}

.Loc h4 {
    position: relative;
    left: 65vh;
    font-size: 2vh;
    margin-top: 2vh;
    text-align: center;
}

.ser input {
    width: 250px;
    padding: 10px 40px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 6px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/3031/3031293.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 10px center;
    display: flex;
    justify-self: anchor-center;
    margin-top: 2vh;
}

.Dis {
    height: 250px;
    width: 150vh;
    /* background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%2Fid%2FOIP._PjgM1DbrEMkdH4MUyC-2QHaE7%3Fpid%3DApi&f=1&ipt=b7e62403d6041d11e03890bf50ff1d24875e95186a7bd3dc3c943847843ce910&ipo=images"); */
    background-repeat: no-repeat;
}

.Open {
    display: block;
}

.header {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.Arr {
    display: grid;
    flex-wrap: wrap;
    overflow-x: scroll;
    overflow-y: hidden;
    grid-template-columns: repeat(13, 1fr);
    margin-top: 40px;
}

.Latest h3 {
    text-align: center;
    margin-top: 5vh;
}

.Product_1 {
    width: 31vh;
    border-radius: 5px;
}

.Product_1 img {
    height: 30vh;
    width: 30vh;
    object-fit: cover;
    border-radius: 7vh;
}

.First {
    margin-left: 10vh;
}

.Name {
    font-size: 3vh;
    text-align: center;
}

.Price {
    text-align: center;
    font-size: 2vh;
}

.Hi {
    text-align: center;
    display: flex;
    height: 7vh;
    width: 15vh;
    justify-content: center;
    align-items: anchor-center;
    margin-top: 2vh;
    margin-left: 8vh;
}

.Collection_Women {
    display: flex;
}

.Collection_image img {
    height: 90vh;
    width: 53vh;
    object-fit: contain;
}

.Collection_image h4 {
    margin-left: 3vh;
    margin-top: 1vh;
}

.Collection_Men {
    display: flex;
}

.Cart img {
    height: 5vh;
    width: 5vh;
    margin-left: 3vh;
}